<ion-header>
  <ion-toolbar>
      <ion-buttons slot="estar">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Instalação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Instalação</h1>

  <h2>Ferramentas</h2>

  <ul>
    <li>Instalar NodeJS</li>
    <li>Instalar editor de sua preferência</li>
    <li>Visual Studio Code</li>
    <li>Atom</li>
    <li>Sublime</li>
    <li>Etc</li>
  </ul>


  <h2>ionic via node</h2>
  <p>Abra o prompt de comando de preferencia no modo administrador e execute o comando abaixo:
    npm install -g ionic cordova</p>

  <h2>Criando o projeto</h2>

  <p>Para criar o projeto é bem simples, vamos utilizar o comando abaixo:
  <br><b>ionic start NomeSeuApp tabs --type=angular</b></p>

  
  <p>
    Logo em seguida digite o seguinte comando no prompt
    <br> <b> cd NomeSeuApp</b>
    <br> <b>code.</b>
    <br> Code irá abrir o Visual Studio Code na pasta do projeto</p>

  <p>Um projeto será criado com uma estrutura semelhante a está</p>
  <img src="assets/instalacao.jpg">
  <h2>Rodando o projeto</h2>
  <p>
    Para seu projeto abrir no navegador, digite no prompt de comando:
    <br> <b>ionic serve</b>
  </p>

</ion-content>
