<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Badges</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-badge color="warning"> 25</ion-badge>
  <ion-badge color="danger">30</ion-badge>
  <ion-badge color="success">35</ion-badge>
  <ion-item>
    <ion-icon name="people"></ion-icon>
    Seguidores
    <ion-badge>300k</ion-badge>
  </ion-item>
  <ion-item>
      <ion-icon name="people"></ion-icon>
      Seguidores
      <ion-badge>300k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-badge slot="end" >11</ion-badge>
        <ion-icon name="mail-unread" ></ion-icon>
        Mensagem
      </ion-item>

      <ion-item>
        <ion-badge slot="end" >11</ion-badge>
          <ion-icon name="eye" ></ion-icon>
          Visualizações
        </ion-item>
  
    </ion-content>
<ion-footer class="ion-text-center">
    <p>Curso Ionic - Senac Tatuapé</p>
</ion-footer>

