<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card color="danger">
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quaerat sit cum optio, quasi velit ullam voluptatibus, cumque quos itaque aliquam cupiditate unde modi voluptatem! Ab vero fugiat quasi optio!
      </p>
      <ion-card-title class="ion-text-center">Torre Eiffel</ion-card-title>
      <ion-img src="assets/paris.jpg"></ion-img>  
    </ion-card-content> 
  </ion-card>

  

    <ion-card color="tertiary">
      <ion-img src="assets/paris.jpg"></ion-img>  
    <ion-header>
        <ion-card-subtitle class="ion-text-center">França</ion-card-subtitle>
        <ion-card-title class="ion-text-center">Torre Eiffel</ion-card-title>
    </ion-header>
      <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quaerat sit cum optio, quasi velit ullam voluptatibus, cumque quos itaque aliquam cupiditate unde modi voluptatem! Ab vero fugiat quasi optio!
      </p>
    </ion-card-content> 
  </ion-card>

  <ion-card>
    <ion-item href="">
      <ion-icon slot="start" name="wifi"></ion-icon>
      <ion-label>Card Item 1</ion-label>
    </ion-item>
    <ion-item href="" color="secondary">
        <ion-icon slot="start" name="wine"></ion-icon>
        <ion-label>Card Item 2</ion-label>
      </ion-item>
      <ion-item href="">
          <ion-icon slot="start" name="wifi"></ion-icon>
          <ion-label>Card Item 3</ion-label>
        </ion-item>
      
  </ion-card>

</ion-content>
