<ion-header>
  <ion-toolbar>
      <ion-back-button></ion-back-button>
    <ion-title>componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" (click)="openCompActionSheet()">ACTION SHEET</ion-button>
  <ion-button expand="full" (click)="openCompAlert()">ALERT</ion-button>
  <ion-button expand="full" (click)="openCompBadges()">BADGES</ion-button>
  <ion-button expand="full" (click)="openCompCard()">CARD</ion-button>
  <ion-button expand="full" (click)="openCompButton()">Button</ion-button>
</ion-content>

