  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>ALERT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="full" (click)="abrirAlert()">SIMPLES</ion-button>
  <ion-button expand="full" (click)="abrirAlertMultiplos()">MÚLTIPLOS BOTÕES</ion-button>
  <ion-button expand="full" (click)="abrirAlertConfirmacao()">CONFIRMAÇÃO</ion-button>
  <ion-button expand="full" (click)="abrirAlertPrompt()">Prompt</ion-button>
  <ion-button expand="full" (click)="abrirAlertRadio()"> Radio</ion-button>
  <ion-button expand="full" (click)="abrirAlertCheckbox()"> Checkbox</ion-button>
  
</ion-content>

