<ion-header>
    <ion-toolbar>
  <!--   essa m&%!* não funciona -->
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>Layout Split</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content class="ion-padding">
    <h3>Menu</h3>
    <ion-buttons>
       <ion-menu-button></ion-menu-button>
     </ion-buttons>
   
<p>Divisão do menu e da página</p>
<img src="assets/splitpane.jpg">
<p>OBS: O exemplo do código está no menu </p>
</ion-content>
